<div>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="sidebar-user-panel">
                    <div class="user-panel">
                        <div class=" image">
                            <img src="assets/images/usrbig.jpg" class="img-circle user-img-circle" alt="User Image" />
                        </div>
                    </div>
                    <div class="profile-usertitle">
                        <div class="sidebar-userpic-name"> Emily Smith </div>
                        <div class="profile-usertitle-job ">Manager </div>
                    </div>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Home</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="dashboard/main">Dashboard 1</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="dashboard/dashboard2">Dashboard 2</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="dashboard/dashboard3">Dashboard 3</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="apps/calendar">
                        <i class="far fa-calendar"></i>
                        <span>Events</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fas fa-mail-bulk"></i>
                        <span>Email</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="email/inbox">Inbox</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="email/compose">Compose</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="email/read-mail">Read Email</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fab fa-google-play"></i>
                        <span>Apps</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="apps/chat">Chat</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="apps/dragdrop">Drag &amp; Drop</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="apps/portfolio">Portfolio</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="apps/contact-list">Contact List</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="apps/contact-grid">Contact Grid</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="apps/support">Support</a>
                        </li>
                    </ul>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fab fa-pagelines"></i>
                        <span>Widgets</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="widget/chart-widget">Chart Widget</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="widget/data-widget">Data Widget</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fas fa-drafting-compass"></i>
                        <span>User Interface (UI)</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="ui/alerts">Alerts</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/animations">Animations</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/badges">Badges</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/modal">Modal</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/buttons">Buttons</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/collapse">Collapse</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/dialogs">Dialogs</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/cards">Cards</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/labels">Labels</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/list-group">List Group</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/media-object">Media Object</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/notifications">Notifications</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/preloaders">Preloaders</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/progressbars">Progress Bars</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/rangeslider">Range Sliders</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/tabs">Tabs</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/waves">Waves</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/typography">Typography</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="ui/helper-classes">Helper Classes</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fab fa-wpforms"></i>
                        <span>Forms</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="forms/basic">Basic Form</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="forms/advance">Advanced Form</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="forms/form-example">Form Examples</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="forms/form-validation">Form Validation</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="forms/wizard">Form Wizard</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="forms/editors">Editors</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fas fa-table"></i>
                        <span>Tables</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="tables/basic-tables">Basic Tables</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="tables/advance-tables">Advance Datatables</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="tables/export-table">Export Table</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="tables/child-row-table">Child Row Table</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="tables/group-table">Grouping</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="tables/editable-table">Editable Tables</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="tables/ngx-datatable">ngx-datatable</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="far fa-images"></i>
                        <span>Medias</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="media/gallery">Image Gallery</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="media/carousel">Carousel</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fas fa-chart-line"></i>
                        <span>Charts</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="charts/echart">Echart</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="charts/morris">Morris</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="charts/apex">Apex</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="charts/chartjs">ChartJS</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="charts/ngx-charts">Ngx-Charts</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="charts/sparkline">Sparkline</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="charts/knob">Jquery Knob</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fab fa-hubspot"></i>
                        <span>Timeline</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="timeline/timeline1">Timeline 1</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="timeline/timeline2">Timeline 2</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fas fa-paw"></i>
                        <span>Icons</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="icons/material">Material Icons</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="icons/font-awesome">Font Awesome</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fas fa-id-card"></i>
                        <span>Authentication</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="authentication/signin">Sign In</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="authentication/signup">Sign Up</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="authentication/forgot-password">Forgot Password</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="authentication/locked">Locked</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="authentication/page404">404 - Not Found</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="authentication/page500">500 - Server Error</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="far fa-file-alt"></i>
                        <span>Extra Pages</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="extra-pages/profile">Profile</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="extra-pages/pricing">Pricing</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="extra-pages/invoice">Invoice</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="extra-pages/faqs">Faqs</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="extra-pages/blank">Blank Page</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fas fa-globe-americas"></i>
                        <span>Maps</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="maps/google">Google Map</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="maps/vector">Vector Map</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="maps/datamap">Data Map</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fas fa-angle-double-down"></i>
                        <span>Multi Level Menu</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="#" onClick="return false;">
                                <span>Menu Item</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" onClick="return false;">
                                <span>Menu Item - 2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" onClick="return false;" class="menu-toggle">
                                <span>Level - 2</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="#" onClick="return false;">
                                        <span>Menu Item</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onClick="return false;" class="menu-toggle">
                                        <span>Level - 3</span>
                                    </a>
                                    <ul class="ml-menu">
                                        <li>
                                            <a href="#" onClick="return false;">
                                                <span>Level - 4</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar -->
</div>